.border-radius{
  border-radius: 50px;  
  background-color: rgba(128, 128, 128, 0.7);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.alin-center{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
 
  height: 250px;
  padding: 50px;
  width: 500px;
  
  

}
.boton {
  border: 1px solid #2e518b; 
  padding: 10px; 
  background-color: #2e518b; 
  color: #ffffff; 
  text-decoration: none; 
  text-transform: uppercase;   
  border-radius: 50px; 
  
  }
  .margin{
    display: inline-flex;
   
    margin: 10px;
  }
  body {
    background-image: url(img1.jpg) ;
 }
